<header>
    <div class="flex">
        <h1><a href="/">Collection Organizer</h1></a>
        <a id="logo" href="/">
            <img src="/static/img/library-logo.jpg" alt="Library Organizer Logo" />
        </a>
    </div>
</header>