<main>
    <div id="collections" class="row">
        <div class="col-12 text-center margin-top">
            <a href="/books" class="btn btn-primary btn-lg">Books</a>
        </div>

        <div class="col-12 text-center margin-top">
            <a href="/music" class="btn btn-dark btn-lg">Music</a>
        </div>

        <div class="col-12 text-center margin-top">
            <a href="/movies" class="btn btn-dark btn-lg">Movies</a>
        </div>

        <div class="col-12 text-center margin-top">
            <a href="/comics" class="btn btn-dark btn-lg">Comics</a>
        </div>
    </div>
</main>